
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />
    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Raleway:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="~/css/content.css" type="text/css" />
    <link rel="stylesheet" href="~/css/form.css" type="text/css" />
    <link rel="stylesheet" href="~/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="~/css/responsive.css" type="text/css" />
    <link rel="stylesheet" href="~/css/datepicker.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/insuredthatsolution.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <!-- Document Title -->
    <title>Insure that</title>
    <style type="text/css">
        .device-lg #slider .emphasis-title h1 {
            font-size: 52px;
        }

        .device-md #slider .emphasis-title h1 {
            font-size: 44px;
        }
    </style>
</head>
<body class="stretched">
    <!-- Document Wrapper -->
    <div id="wrapper" class="clearfix">
        <!-- Header -->
        <header id="header" class="full-header transparent-header">
            <div id="header-wrap">
                <div class="container clearfix">
                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                    <!-- Logo -->
                    <div id="logo">
                        <a href="#" class="standard-logo" data-dark-logo="~/images/logo-dark.png"><img src="~/images/logo.png" alt="Canvas Logo"></a>
                        <a href="#" class="retina-logo" data-dark-logo="~/images/logo-dark@2x.png"><img src="~/images/logo@2x.png" alt="Canvas Logo"></a>
                    </div><!-- #logo end -->
                    <!-- Primary Navigation -->
                    @*<nav id="primary-menu">
                        <a style="" class=" btn color-bk-btn col-md-4 leftmargin-sm" href="@Url.Action("AdvancedCustomerSearch", "Customer")">Close This Policy</a>
                        <a class="changepsswrd btn color-bk-btn col-md-4 leftmargin-sm" href="@Url.Action("ChangePassword", "Customer")" type="button">Change Password</a>
                        <button class="logoutfun btn color-bk-btn col-md-4 leftmargin-sm" type="button">Logout</button>
                    </nav>*@<!-- #primary-menu end -->
                </div>
            </div>
        </header><!-- #header end -->
        <!-- Content -->
        <section id="content">
            <div class="content-wrap">
                <div class="container clearfix">
                    @RenderBody()
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer id="footer">
            <!-- Copyrights -->
            @*<div id="copyrights">
                <div class="container-fluid clearfix">
                    <div class="col_half">
                        <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
                    </div>
                    <div class="col_half col_last tright">
                        <div class="fright clearfix">
                            <a href="#" class="social-icon si-small si-borderless si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-borderless si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-borderless si-linkedin">
                                <i class="icon-linkedin"></i>
                                <i class="icon-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>*@<!-- #copyrights end -->
        </footer><!-- #footer end -->
    </div><!-- #wrapper end -->
    <!-- Go To Top -->
    <div id="gotoTop" class="icon-angle-up"></div> 
    <script type="text/javascript" src="~/js/plugins.js"></script>
    <script type="text/javascript" src="~/js/functions.js"></script>
    <script type="text/javascript" src="~/js/jquery.backDetect.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('body').backDetect(function () {
                //if (confirm('Look forward to the future, not the past!')) {
                history.pushState(null, null, null);
                $.ajax({
                    type: "POST",
                    url: "/Customer/Logout",
                    data: {},
                    success: function (responce) {
                        window.location.href = responce;
                    }
                });
                //} else {
                //    history.pushState(null, null, null);
                //}
            });
        });
    </script>

</body>
</html>