
@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_view.cshtml";
}
<h2>Beta Version Release - please be aware of the following known API issues for Rural Lifestyle:</h2>
<div>
    <ul class="col-md-12">
        <li>Forgot Password functionality</li>
        <li>Unsaved policy cannot be retrieved</li>
        <li>Ability to delete a section using the right-hand panel</li>
        <li>Ability to cancel a policy from the policy list</li>      
        <li>Ability to print documents</li>
        <li>The view details page for policy missing several values from API</li>
        <li>Browser back button will land on Login page</li>
        <li>Screen modifications required for Travel section if under 25 add this as well as point</li>
        <li>Need to re-enter motor details (vehicle description/driver DOB/cover details - excess) while editing</li>
        <li>Need to re-enter boat details (year of manufacturing (boat and motor), location of boat) while editing</li>
        <li>Need to re-enter year of last re-plumbed in home building construction details while editing</li>
            <br />
<li>Farm Product has not yet been approved for release (screens have been reviewed, but APIs have not been  de-bugged).</li>
       
    </ul>
    @using (Html.BeginForm("AgentLogin", "Login", FormMethod.Get))
    {
        <button type="submit" class="btn-primary btn pull-right" style="margin-top:5% !important;">Agree and Continue</button>
    }
</div>
