.search-btn {
    background: url('../images/search-icon.png') #000 no-repeat right 10% center !important;
    color: #fff !important;
    background-color: #000;
    line-height: 15px;
    padding: 10px 40px 10px 10px;
    border: none;
    margin-top: 10px;
    width: 100%;
    background-size: 24% !important;
}

#errorContainer {
    clear: both;
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
}

    #errorContainer li {
        color: #FF0000;
        border: 1px dashed #FF0000;
        padding: 2px 5px;
        margin-bottom: 2px;
    }

#processTabs ul.process-steps li a.active {
    background-color: #FFDE00 !important;
}

input.CostforRebuilding::before {
    content: "$";
    display: inline-block;
}

#homeContent tbody tr td .no-border {
    border: none;
}

#valuables tbody tr td .no-border {
    border: none;
}

tbody tr td .no-border {
    border: none;
}

.gray-bg-underline {
    background: #e8e8e8 !important;
    border: 0;
    border-bottom-width: 0px;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom: 1px solid #000 !important;
}

.error {
    color: #FF0000;
}

#dateofbirth {
    background-color: #FFFFFF;
}

#travelCover tbody tr td a {
    background-color: #CCCCCC;
    padding: 4px 12px;
    height: auto;
    width: auto;
    color: #000000;
    font-weight: 600;
}

#travelCover tbody tr td input.form-border-bottom {
    border-bottom: 1px solid #6b6d6f;
}

#travelCover tbody tr td .form-control[readonly] {
    background-color: #FFFFFF;
}

#farmContents tbody tr td .form-control[readonly] {
    background-color: #FFFFFF;
}

#farmMachinery tbody tr td .form-control[readonly] {
    background-color: #FFFFFF;
}

.process-steps li a.success {
    background-color: #008000 !important;
    color: #FFFFFF !important;
}

.policy-full-head h2 span span {
    display: inline-block;
}

.select2hdc {
    width: 120px;
}

#homeContent tbody tr td a {
    background-color: #CCCCCC;
    padding: 4px 12px;
    height: auto;
    width: auto;
    color: #000000;
    font-weight: 600;
    vertical-align: middle;
}

#valuables tbody tr td a {
    background-color: #CCCCCC;
    padding: 4px 12px;
    height: auto;
    width: auto;
    color: #000000;
    font-weight: 600;
    vertical-align: middle;
}

#farmContents tbody tr td a {
    background-color: #CCCCCC;
    padding: 4px 12px;
    height: auto;
    width: auto;
    color: #000000;
    font-weight: 600;
    vertical-align: middle;
}

#farmMachinery tbody tr td a {
    background-color: #CCCCCC;
    padding: 4px 12px;
    height: auto;
    width: auto;
    color: #000000;
    font-weight: 600;
    vertical-align: middle;
}

#liveStock tbody tr td a {
    background-color: #CCCCCC;
    padding: 4px 12px;
    height: auto;
    width: auto;
    color: #000000;
    font-weight: 600;
    vertical-align: middle;
}

#farmDetails tbody tr td a {
    background-color: #CCCCCC;
    padding: 4px 12px;
    height: auto;
    width: auto;
    color: #000000;
    font-weight: 600;
    vertical-align: middle;
}

#boatOperator tbody tr td a {
    background-color: #CCCCCC;
    padding: 4px 12px;
    height: auto;
    width: auto;
    color: #000000;
    font-weight: 600;
    vertical-align: middle;
}

#coverDetails tbody tr td a {
    background-color: #CCCCCC;
    padding: 4px 12px;
    height: auto;
    width: auto;
    color: #000000;
    font-weight: 600;
    vertical-align: middle;
}

#machineryFP tbody tr td a {
    background-color: #CCCCCC;
    padding: 4px 12px;
    height: auto;
    width: auto;
    color: #000000;
    font-weight: 600;
    vertical-align: middle;
}

#homeDescription tbody tr td a {
    background-color: #CCCCCC;
    padding: 4px 12px;
    height: auto;
    width: auto;
    color: #000000;
    font-weight: 600;
    vertical-align: middle;
}

#boatDetails tbody tr td a {
    background-color: #CCCCCC;
    padding: 4px 12px;
    height: auto;
    width: auto;
    color: #000000;
    font-weight: 600;
    vertical-align: middle;
}

#vehicleDescription tbody tr td a {
    background-color: #CCCCCC;
    padding: 4px 12px;
    height: auto;
    width: auto;
    color: #000000;
    font-weight: 600;
    vertical-align: middle;
}

#farmContents tbody tr td a {
    background-color: #CCCCCC;
    padding: 4px 12px;
    height: auto;
    width: auto;
    color: #000000;
    font-weight: 600;
    vertical-align: middle;
}

#coverDetails tbody tr td input.suminsured {
    width: 90%;
    display: inline-block;
}

#processTabs .policy-full-head {
    position: absolute;
    top: 0;
}

#boatOperator table tr td input.year {
    background: none;
}

#homeDescription .buildingAddress {
    padding-left: 0px;
}

    #homeDescription .buildingAddress p {
        padding-left: 0px;
    }

.policy-full-head #screens span {
    font-size: 13px;
}

.regstn label {
    margin-top: 0px;
}

#machineryFP .form-border-bottom {
    border-bottom: 1px solid #6b6d6f !important;
}

.error {
    font-weight: normal;
    font-size: 13px;
}

.NewInsured-btn {
    color: #fff !important;
    background-color: #000;
    line-height: 15px;
    padding: 0px;
    text-align: center;
    border: none;
}

#customerRegisration .text-center {
    text-align: left;
}

#advancedSearch .search-btn {
    width: auto;
}

#vehicleDescription #ptab6 table.table thead th a {
    color: #FFFFFF;
}

    #vehicleDescription #ptab6 table.table thead th a:hover {
        color: #FFFFFF;
    }

#boatDetails #ptab6 table.table thead th a {
    color: #FFFFFF;
}

    #boatDetails #ptab6 table.table thead th a:hover {
        color: #FFFFFF;
    }

table tfoot tr td {
    border: none;
}

.policy-side-wrap .well {
    min-height: 410px;
}

.content-wrap form p {
    margin-top: 0px;
}

.policy-loc-row {
    margin: 0px;
}

label.error {
    display: none;
}

.policy-loc-row input[type=radio]:not(old) + label > span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 10px;
    border: 5px solid #fff;
    border-radius: 20px;
    background: #fff;
    border: 1px solid black;
    vertical-align: middle;
}

.policy-loc-row input[type="radio"]:not(old):checked + label > span > span {
    background-image: linear-gradient(rgb(32, 41, 224),rgb(32, 41, 224));
    border: 1px solid rgb(32,41,224);
    background: rgb(32,41,224);
}

#dispountFreeperiod {
    font-weight: 600;
}

#openNewAddressSet {
    background: url('../images/edit-icon-1.png') no-repeat 2px 0 transparent;
    height: auto;
    width: auto;
    padding: 10px;
    margin-top: 14px;
    border: none;
    box-shadow: none;
}

#vehicleDescription label {
    font-weight: 300;
}

.gray-bg-underline {
    background: none !important;
}

#valuables .table > tfoot > tr > td.no-border {
    border-bottom: 1px solid #FFFFFF !important;
    border-top: 1px solid #FFFFFF !important;
}
