.search-btn {
    background: url('../images/search-icon.png') #000 no-repeat right 10% center !important;
    color: #fff !important;
    background-color: #000;
    line-height: 15px;
    padding: 10px 40px 10px 10px;
    border: none;
    margin-top: 10px;
    width: auto;
    background-size: 24% !important;
}
#errorContainer {clear: both;list-style: none;padding-left: 15px;padding-right: 15px;}
#errorContainer li {color:#FF0000;border: 1px dashed #FF0000;padding: 2px 5px;margin-bottom: 2px;}
#processTabs ul.process-steps li a.active{background-color:#FFDE00 !important;}
input.CostforRebuilding::before {content: "$";display:inline-block;}
#homeContent tbody tr td .no-border{border:none;}
#valuables tbody tr td .no-border{border:none;}
tbody tr td .no-border{border:none;}
.gray-bg-underline {background: #e8e8e8 !important;border: 0;border-bottom-width: 0px;border-bottom-style: none;border-bottom-color: currentcolor;border-bottom: 1px solid #000 !important;}
.error {color:#FF0000;}
#dateofbirth {background-color: #FFFFFF;}
#travelCover tbody tr td a {background-color: #CCCCCC;padding: 4px 12px;height: auto;width: auto;color: #000000;font-weight: 600;}
#travelCover tbody tr td input.form-border-bottom {border-bottom: 0px solid #6b6d6f;}
#travelCover tbody tr td .form-control[readonly] {background-color:#FFFFFF;}
#farmContents tbody tr td .form-control[readonly] {background-color:#FFFFFF;}
#farmMachinery tbody tr td .form-control[readonly] {background-color:#FFFFFF;}
.process-steps li a.success {background-color: #008000 !important;color:#FFFFFF !important;}
.policy-full-head h2 span span {display: inline-block;}
.select2hdc {width: 120px;}
#homeContent tbody tr td a {background-color:#CCCCCC;padding:4px 12px;height:auto;width:auto;color:#000000;font-weight:600;}
#valuables tbody tr td a {background-color:#CCCCCC;padding:4px 12px;height:auto;width:auto;color:#000000;font-weight:600;}
#farmContents tbody tr td a {background-color:#CCCCCC;padding:4px 12px;height:auto;width:auto;color:#000000;font-weight:600;}
#farmMachinery tbody tr td a {background-color:#CCCCCC;padding:4px 12px;height:auto;width:auto;color:#000000;font-weight:600;}
#liveStock tbody tr td a {background-color:#CCCCCC;padding:4px 12px;height:auto;width:auto;color:#000000;font-weight:600;}
#farmDetails tbody tr td a {background-color:#CCCCCC;padding:4px 12px;height:auto;width:auto;color:#000000;font-weight:600;}
#boatOperator tbody tr td a {background-color:#CCCCCC;padding:4px 12px;height:auto;width:auto;color:#000000;font-weight:600;}
#coverDetails tbody tr td a {background-color:#CCCCCC;padding:4px 12px;height:auto;width:auto;color:#000000;font-weight:600;}
#coverDetails tbody tr td input.suminsured {width: 90%;display: inline-block;}
#processTabs .policy-full-head {position: absolute;top: 0;}
#boatOperator table tr td input.year {background: none;}
#homeDescription .buildingAddress {padding-left: 0px;}
#homeDescription .buildingAddress p {padding-left: 0px;}