
@{
    ViewBag.Title = "PolicySuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Policy Success</h2>
<div class="col-md-6 col-sm-6 col-xs-12"></div>

<div class="col-sm-6">
    <a class="btn color-bk-btn col-md-3 col-sm-3 col-xs-12 pull-right" href="@Url.Action("AdvancedCustomerSearch", "Customer")">ADVANCED SEARCH</a>&nbsp;&nbsp;
    <a class="btn color-bk-btn col-sm-3 margin-left-5 pull-right" href="@Url.Action("NewPolicy", "Customer", new { cid = @ViewBag.cid})">Add Policy</a>
    <div class="clearfix"></div>
</div>
<br />
<br />
<h3 style="color:green";>Congratulations, our underwriters will get back to you with in 24hrs!!!</h3>
